<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="black" class="backbtn" routerLink="/product" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
    <ion-title>My Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
	<ion-item *ngFor="let o of orders">
	  <p slot="start">
		{{ o.count }}x
	  </p>
	  <ion-label>
		{{ o.title }}
	  </ion-label>
   
	  <ion-avatar slot="end">
		<ion-img [src]="o.image"></ion-img>
	  </ion-avatar>
	</ion-item>
  </ion-list> -->
</ion-content>
