<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="black" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="loginform">
    <app-auth-form #resetPasswordForm (formSubmitted)=resetPassword($event) [actionButtonText]="'Reset Password'"
    [isPasswordResetPage]="true"></app-auth-form>
    
  </div>
  </div>
</ion-content>
