<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      LOGIN 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Blank</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <!-- <body> -->
  
    <!-- <h2>Login</h2> -->
    <!--Step 1 : Adding HTML-->
        <div class="imgcontainer">
            <img src="https://www.nicepng.com/png/full/359-3595837_property-management-services-login-user-avatar.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">   
          <app-auth-form style="padding: 12px;margin-bottom: 0px;" #loginForm  (formSubmitted)="loginUser($event)" [actionButtonText]="'Login'">
            
          </app-auth-form>
          <ion-button style="width: 93%;" (click) = "register()">New User? Register here</ion-button> <br><br>
          <a [routerLink]="['/forgot-password']" style="padding-left: 3%;"(click) = "forgotPass()">Forgot Password?</a>
          <!-- <ion-label>UserName</ion-label>
          <ion-input type= "text" placeholder="Enter UserName"[(ngModel)]="username"></ion-input><br>
          
          <ion-label>Password</ion-label>
          <ion-input type= "password" placeholder="Enter Password" [(ngModel)]="password"></ion-input><br>
   -->
   
  </div>

</ion-content>

