<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="black" class="backbtn" routerLink="/product" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons> 
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
    <br> 
     
    <br>
    <ion-text color="tertiary">
     
      <ion-item (click)="updateName()">
        <ion-label>First Name : </ion-label>
        <!-- <ion-input type="text" placeholder="Enter First Name" [(ngModel)]="firstname" required></ion-input> -->
        <ion-col class="text-center" size="7" *ngIf="userProfile?.fullName">
          {{userProfile?.fullName}}
        </ion-col>
        <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.fullName">
          <span> Tap here to edit. </span>
        </ion-col>
      </ion-item>
  
      <ion-item (click)="updateEmail()">
        <ion-label>Email ID : </ion-label>
        <!-- <ion-input type="text" placeholder="your@email.com" [(ngModel)]="email" required></ion-input> -->
        <ion-col class="text-center" size="7" *ngIf="userProfile?.email">
          {{userProfile?.email}}
        </ion-col>
        <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.email">
          <span> Tap here to edit. </span>
        </ion-col>
      </ion-item>
  
      <ion-item (click)="updateAddress()">
        <ion-label>Address : </ion-label>
        <!-- <ion-textarea maxlength=30 placeholder="Enter address here..." [(ngModel)]="address" required></ion-textarea> -->
        <ion-col class="text-center" size="7" *ngIf="userProfile?.fullAddress">
          {{userProfile?.fullAddress}}
        </ion-col>
        <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.fullAddress">
          <span> Tap here to edit. </span>
        </ion-col>
      </ion-item>
  
      <ion-item (click)="updatePhone()">
        <ion-label>Mobile No : </ion-label>
        <!-- <ion-input type="number" placeholder="Enter mobile no" [(ngModel)]="mob"></ion-input> -->
        <ion-col class="text-center" size="7" *ngIf="userProfile?.fullNumber">
          {{userProfile?.fullNumber}}
        </ion-col>
        <ion-col size="7" class="placeholder-profile text-center" *ngIf="!userProfile?.fullNumber">
          <span> Tap here to edit. </span>
        </ion-col>
      </ion-item>
  
      <ion-item (click)="updatePassword()">
        <ion-label>Password : </ion-label>
        <!-- <ion-input type="String" placeholder="password" [(ngModel)]="password" required></ion-input> -->
        <ion-col class="text-center" size="7" class="placeholder-profile">
          <span> ****** </span>
        </ion-col>
      </ion-item>
       
      <!-- <ion-button color="success" shape="round" expand="block" (click) = "save(firstname,email,address,mob,dob,username,password)">Save</ion-button> -->
       
      </ion-text>
       
      <!-- </ion-item-divider> -->
  <!-- </div> -->
  </ion-content>